<h1>Brandon Poole</h1>
<p>Software Systems Developer | Ottawa ON</p>
<p><i class="fab fa-linkedin" ></i><a href="https://www.linkedin.com/in/brandon-at-dal/" > linkedin.com/in/brandon-at-dal</a></p>

<div class="row">
    
  <!-- Left main column -->
  <div class="col-8">
      One of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columnsOne of three columns
  </div>

  <!-- Right short column -->
  <div class="col">
      <p>Technical Know-how</p>
      <hr>
      <mat-chip-list>
        <mat-chip>Java</mat-chip>
        <mat-chip>Python</mat-chip>
        <mat-chip>Spring Boot</mat-chip>
        <mat-chip>Thymeleaf</mat-chip>
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>
        <mat-chip>Angular JS</mat-chip>
        <mat-chip>Angular Material</mat-chip>
        <mat-chip>PHP</mat-chip>
        <mat-chip>MySQL</mat-chip>
        <mat-chip>WordPress</mat-chip>
        <mat-chip>Bash</mat-chip>
      </mat-chip-list>

      <br>
      <p>Utilized Software</p>
      <hr>
      <mat-chip-list>
        <mat-chip>Intellij IDEA</mat-chip>
        <mat-chip>Visual Studio Code</mat-chip>
        <mat-chip>MAMP</mat-chip>
        <mat-chip>Oracle Virtual Box</mat-chip>
        <mat-chip>Docker</mat-chip>
        <mat-chip>Cloud Foundry</mat-chip>
        <mat-chip>Concourse</mat-chip>
        <mat-chip>Wireshark</mat-chip>
      </mat-chip-list>

  </div>
</div>