<h1>Brandon Poole</h1>
<p>Software Systems Developer | Ottawa ON</p>
<div>
  <i class="fab fa-linkedin" ></i><a href="https://www.linkedin.com/in/brandon-at-dal/" class="text-decoration-none"> linkedin.com/in/brandon-at-dal</a> | 
  <i class="fab fa-github-square"></i><a href="https://github.com/Lubytes" class="text-decoration-none"> github.com/Lubytes</a>
</div>

<br>
<div class="row">
    
  <!-- Left main column -->
  <div class="col-sm-8">
    <h4>Education</h4>
    <hr>

    <mat-card>
      <div class="row">
        <div class="col-md-10">
          <p class="font-weight-bold my-1">Honours in Computer Science, Minor in Mathematics</p>
          <p class="font-weight-light my-1">Specilization in Communications Technologies and Cyber Security</p>
          <small>Dalhousie University</small>
        </div>
        <div class="col d-none d-md-block">
          <small class="text-right">2014 - 2018</small>
        </div>
      </div>
    </mat-card>

    <br>
    <h4>Employment History</h4>
    <hr>
  
    <mat-card>
      <div class="row">
        <div class="col-md-9">
          <p class="font-weight-bold my-1">Software Systems Developer</p>
          <p class="font-weight-light my-1">Department of National Defence</p>
        </div>
        <div class="col d-none d-md-block">
          <small class="text-right float-right">2019 - Present</small>
        </div>
      </div>
    </mat-card>
    <br>
    <mat-card>
      <div class="row">
        <div class="col-md-9">
          <p class="font-weight-bold my-1">Software Systems Developer - Co-op</p>
          <p class="font-weight-light my-1">Department of National Defence</p>
        </div>
        <div class="col d-none d-md-block">
          <small class="text-right float-right">2017</small>
        </div>
      </div>
    </mat-card>
    <br>
    <mat-card>
      <div class="row">
        <div class="col-md-9">
          <p class="font-weight-bold my-1">Software Quality Analyst - Co-op</p>
          <p class="font-weight-light my-1">Velo Industries Ltd</p>
        </div>
        <div class="col d-none d-md-block">
          <small class="text-right float-right">2016</small>
        </div>
      </div>
    </mat-card>
    <br>
  
    <h4>Awards</h4>
    <hr>

    <mat-card>
      <div class="row">
        <div class="col-md-9">
          <p class="font-weight-bold my-1">Faculty Impact Leadership Award</p>
          <p class="font-weight-light my-1">Dalhousie University</p>
        </div>
        <div class="col d-none d-md-block">
          <small class="text-right float-right">2018</small>
        </div>
      </div>
    </mat-card>
    <br>
    <mat-card>
      <div class="row">
        <div class="col-md-9">
          <p class="font-weight-bold my-1">The Root Award</p>
          <p class="font-weight-light my-1">Dalhousie University, Faculty of Computer Science</p>
        </div>
        <div class="col d-none d-md-block">
          <small class="text-right float-right">2017</small>
        </div>
      </div>
    </mat-card>
    <br>
    <mat-card>
      <div class="row">
        <div class="col-md-9">
          <p class="font-weight-bold my-1">TA Award for Outstanding Academic Support</p>
          <p class="font-weight-light my-1">Dalhousie University, Faculty of Computer Science</p>
        </div>
        <div class="col d-none d-md-block">
          <small class="text-right float-right">2016</small>
        </div>
      </div>
    </mat-card>
    <br>
    <mat-card>
      <div class="row">
        <div class="col-md-9">
          <p class="font-weight-bold my-1">Leadership Award</p>
          <p class="font-weight-light my-1">Dalhousie University, Faculty of Computer Science</p>
        </div>
        <div class="col d-none d-md-block">
          <small class="text-right float-right">2016</small>
        </div>
      </div>
    </mat-card>
    <br>
    <mat-card>
      <div class="row">
        <div class="col-md-9">
          <p class="font-weight-bold my-1">Citizenship Award</p>
          <p class="font-weight-light my-1">Dalhousie University, Faculty of Computer Science</p>
        </div>
        <div class="col d-none d-md-block">
          <small class="text-right float-right">2015</small>
        </div>
      </div>
    </mat-card>
    <br>


  </div>

  <!-- Right short column -->
  <div class="col">
      <p>Technical Know-how</p>
      <hr>
      <mat-chip-list>
        <mat-chip>Java</mat-chip>
        <mat-chip>Python</mat-chip>
        <mat-chip>Spring Boot</mat-chip>
        <mat-chip>Thymeleaf</mat-chip>
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>
        <mat-chip>Angular JS</mat-chip>
        <mat-chip>Angular Material</mat-chip>
        <mat-chip>PHP</mat-chip>
        <mat-chip>MySQL</mat-chip>
        <mat-chip>WordPress</mat-chip>
        <mat-chip>Bash</mat-chip>
      </mat-chip-list>

      <br>
      <p>Utilized Software</p>
      <hr>
      <mat-chip-list>
        <mat-chip>Intellij IDEA</mat-chip>
        <mat-chip>Visual Studio Code</mat-chip>
        <mat-chip>MAMP</mat-chip>
        <mat-chip>Oracle Virtual Box</mat-chip>
        <mat-chip>Docker</mat-chip>
        <mat-chip>Cloud Foundry</mat-chip>
        <mat-chip>Concourse</mat-chip>
        <mat-chip>Wireshark</mat-chip>
      </mat-chip-list>

  </div>
</div>